
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
 
.container{
  display: flex;
  flex-wrap: wrap;
  height : 86vh;
  width: 100%;
  margin: 0 auto;
  align-content: flex-start;
  /* border: 10px solid black; */
}

.list1{
  background-color: yellowgreen;
  /* text-decoration: none; */
  /* flex: 1; */
  margin: 2px;
  /* box-sizing: border-box; */
  border-radius: 5px;
  padding: 5px;
}
.list2{
  background-color: grey;
  /* text-decoration: none; */
  /* flex: 1; */
  margin: 2px;
  /* box-sizing: border-box; */
  border-radius: 5px;
  padding: 5px;
}